# Ignore node modules
node_modules/

# Ignore Parcel build files
dist/
.parcel-cache/

# Optional: ignore environment or config files
.env
.DS_Store

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: system-specific files
Thumbs.db
